html{
    font-size: 10px;
    background-color: #5a85b8;
}
body{
    background: url('../images/burger.jpg') center center fixed no-repeat;
    font-family: 'Oswald', sans-serif;
    font-size:1.6rem;
    min-height: 720px;
}

main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template: repeat(2,auto);
    grid-template-areas: 'header header header'
                         'plate order belly';
    justify-items: center;
    text-align: center;
}

h1{
    grid-area: header;
    text-align: center;
}

h2{
    margin: 0;
}

hr{
    border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: .5rem 1rem;
}

form{
    grid-area: order;
    width:100%;
    justify-self: center;
}

#plate{
    grid-area: plate;
    width:100%;
}

#belly{
    grid-area: belly;
    width: 100%;
}


button{
    background-color: teal;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: auto 1.5rem;
    color: white;
}

button:hover{
    background-color: #00b3b3;
}

.burger{
    display: grid;
    grid-template-columns: repeat(2, 1fr auto);
    align-items: center;
    margin: 1rem;
}

.delete-button{
    background-color: orangered;

}

.delete-button:hover{
    background-color: #ff6933;
}

.submit-button{
    background-color:blue;
    margin:2rem;
    padding:1rem 4rem;
}

.submit-button:hover{
    background-color: #3333ff;
}

input{
    border: 2px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}